[Unit]
Description=Data Display
After=dash_backend.service
DefaultDependencies=no

[Service]
ExecStart=/home/dash/f26dash/script/launch/launchfrontend.sh
ExecStop=/home/dash/f26dash/script/kill/killfrontend.sh
Type=forking

[Install]
WantedBy=default.target
