[Unit]
Description=Data collection
After=systemd-tmpfiles-setup-dev.service
DefaultDependencies=no

[Service]
ExecStart=/home/dash/f26dash/script/launch/launchbackend.sh
ExecStop=/home/dash/f26dash/script/kill/killbackend.sh
Type=forking
Restart=always
StartLimitBurst=1000

[Install]
WantedBy=default.target
